body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2em;
}

.fc-icon-chevron-left::before {
    content: "\2190";
}
.fc-icon-chevron-right::before {
    content: "\2192";
}

.calendars label {
    display: block;
    margin-bottom: 0.2em;
}
.calendars .fc-daygrid-event-dot {
    display: inline-block;
}

.form label {
    display: block;
    margin-bottom: 0.8em;
}
.form input:not([type="checkbox"]),
.form select {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
